<section id="club" class="navtabcontent">
    <div class="dark:bg-txt-8">
        <div class=" md:mx-16 dark:bg-txt-8 dark:bg-opacity-95"  >
            <div class="px-16 py-4 md:p-0 flex flex-wrap   ">
                <div class="w-full md:w-1/2 flex flex-row">
      
                    <div class=" ml-12 my-0 md:my-32 flex items-center justify-between" style="border-right: 2px solid #F16B58;">
                        <div class="max-h-0 md:max-h-full mr-32 max-w-md">
                            <div class="  invisible md:visible ml-12 text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                                Clubs
                            </div>
                            <div class="tabs max-h-0 md:max-h-full flex flex-row justify-evenly  md:flex md:flex-col  md:justify-evenly my-5 ml-10">
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                  <button data-target="panel-1" class="text-left tab active   block ">
                                    4i-Lab
                                  </button>
                                </div>
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                  <button data-target="panel-2" class="text-left tab  block ">
                                    Acumen : Quiz Club
                                  </button>
                                </div>
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-3" class="text-left tab  block ">
                                        Aeromodelling Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-4" class="text-left tab  block ">
                                        Automobile Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-5" class="text-left tab  block ">
                                      Coding Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                      <button data-target="panel-6" class="text-left tab  block ">
                                        Consulting and Analytics Club
                                      </button>
                                    </div>
                                    <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                      <button data-target="panel-7" class="text-left tab  block ">
                                        E-Cell
                                      </button>
                                    </div><div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                        <button data-target="panel-8" class="text-left tab  block ">
                                         Electronics Club
                                        </button>
                                      </div>
                                      <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                          <button data-target="panel-9" class="text-left tab  block ">
                                            Equinox : Astronomy Club
                                          </button>
                                        </div>
                                        <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                          <button data-target="panel-10" class="text-left tab  block ">
                                            Finance and Economics Club
                                          </button>
                                        </div>
                                        <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                            <button data-target="panel-11" class="text-left tab  block ">
                                                IITG.ai
                                            </button>
                                          </div>
                                          <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                              <button data-target="panel-12" class="text-left tab  block ">
                                                Robotics Club
                                              </button>
                                            </div>
                                            <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                              <button data-target="panel-13" class="text-left tab  block ">
                                                White Space
                                              </button>
                                            </div>
      
                            </div>
                        </div>
      
                    </div>
      
                    
                </div>
      
                <div class="w-full md:w-1/2">
                    <div class="px-2 md:px-8 py-10 md:py-32">
                        <div class="tabs visible md:invisible  py-6 md:py-0 md:max-w-0 md:max-h-0">
                          
                            <div class="scrollmenu ">
                              <button data-target="panel-1" class="tab active   block ">
                                4i-Lab
                              </button>
                              <button data-target="panel-2" class="tab   block ">
                                Acumen : Quiz Club
                              </button>
                              <button data-target="panel-3" class="tab    block ">
                                Aeromodelling Club
                              </button>
                              <button data-target="panel-4" class="tab  block ">
                                Automobile Club
                              </button>
                              <button data-target="panel-5" class="tab   block ">
                                Coding Club
                              </button>
                              <button data-target="panel-6" class="tab    block ">
                                Consulting and Analytics Club
                              </button>
                              <button data-target="panel-7" class="tab  block ">
                                E-Cell
                              </button>                          
                              <button data-target="panel-8" class="tab   block ">
                                Electronics Club
                              </button>
                              <button data-target="panel-9" class="tab    block ">
                                Equinox : Astronomy Club
                              </button>
                              <button data-target="panel-10" class="tab  block ">
                                Finance and Economics Club
                              </button>                          
                              <button data-target="panel-11" class="tab   block ">
                                IITG.ai
                              </button>
                              <button data-target="panel-12" class="tab    block ">
                                Robotics Club
                              </button>
                              <button data-target="panel-13" class="tab  block ">
                                White Space
                              </button>
                            </div>
                         
                          </div>
      
      
      
      
      
      
                    
      
                          <div id="panels" class="">
                        <!-- club1 -->
                        <article class="panel-1 tab-content active overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                            <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                    4i-Lab
                                </div>
                                <div class=" ">
                                    <a href="">
                                        <img src="" alt="" class="">
                                    </a>
                                </div>
                            </header>              
                            <a href="#">
                                <img alt="Placeholder" class=" p-3 " style=" position: static;
                                max-width: 480px;
                                max-height: 260px;
                                margin-left: auto;
                                margin-right: auto;
                                display: block" src="/tech/images/peop_img/4ilab.png">
                            </a>
            
                            <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                              4i lab is an initiative undertaken by various IITs, established with the goal of conducting applied research in engineering technologies relevant to industrial and societal tasks, and to understand the science, engineering and social role of technology and how it can shape our future. The four I’s stand for Ideation, Innovation, Incubation, and Implementation. 
                            </div>
            
                            <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                <div class="flex flex-row">
                                    <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/4ilabiitg
                                    " target="_ ">
                                        <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                    </a>
                                    <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/4ilabiitg
                                    " target="_ ">
                                        <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                    </a>
                                    <a class="flex items-center no-underline hover:underline pl-1" href="https://www.instagram.com/4ilabiitg/
                                    " target="_ ">
                                        <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                    </a>
                                </div>
                                <div>
                                    <a class="flex items-center no-underline hover:underline pl-1" href="https://www.iitg.ac.in/stud/gymkhana/technical/home/4iHome.html" target="_ ">
                                        <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                    </a>
                                </div>
                            </footer>
            
                        </article>
                        <!-- card1 ends -->
      
                            <!-- club1 -->
                        <article class="panel-2 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                          <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                              <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                  Acumen Club
                              </div>
                              <div class=" ">
                                  <a href="">
                                      <img src="" alt="" class="">
                                  </a>
                              </div>
                          </header>              
                          <a href="#">
                              <img alt="Placeholder" class=" p-3 " style=" position: static;
                              max-width: 480px;
                              max-height: 260px;
                              margin-left: auto;
                              margin-right: auto;
                              display: block" src="/tech/images/peop_img/acumen.png">
                          </a>
          
                          <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                            Acumen, the quiz club, is one of the oldest clubs on the campus. The club nurtures and propagates a culture of quizzing in the institute and aims to evoke and sharpen quizzers’ innate logical reasoning skills. At our core, we like to think of ourselves as a group of all-knowing knuckleheads.
                          </div>
          
                          <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                              <div class="flex flex-row">
                                  <!-- <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/4ilabiitg
                                  " target="_ ">
                                      <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                  </a> -->
                                  <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/quizclubiitg/
    
                                  " target="_ ">
                                      <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                  </a>
                                  <a class="flex items-center no-underline hover:underline pl-1" href="
                                  https://instagram.com/quizclub.iitg?utm_medium=copy_link
                                  " target="_ ">
                                      <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                  </a>
                              </div>
                              <div>
                                  <a class="flex items-center no-underline hover:underline pl-1" href="https://www.iitg.ac.in/stud/gymkhana/technical/home/AcumenHome.html" target="_ ">
                                      <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                  </a>
                              </div>
                          </footer>
          
                      </article>
                      <!-- card1 ends -->
    
                                              <!-- club1 -->
                                              <article class="panel-3 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                    <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                      Aeromodelling Club
                                                    </div>
                                                    <div class=" ">
                                                        <a href="">
                                                            <img src="" alt="" class="">
                                                        </a>
                                                    </div>
                                                </header>              
                                                <a href="#">
                                                    <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                    max-width: 480px;
                                                    max-height: 260px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    display: block" src="/tech/images/peop_img/aeromod.png">
                                                </a>
                                
                                                <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                  The Aeromodelling Club is a student body that works on developing various new technologies in aerial vehicles. We primarily focus on drones, aiming to make them smarter and easier to operate. We also work with hobbyists on planes and First Person View Drones for fun. The club aims to advance drone technology to empower people and revolutionize sectors like agriculture and disaster management amongst others.
    
    
                                                </div>
                                
                                                <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                    <div class="flex flex-row">
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://in.linkedin.com/company/aeroiitg
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://facebook.com/Aeroiitg/" target="_ ">
                                                            <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <!-- <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://instagram.com/quizclub.iitg?utm_medium=copy_link
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                        </a> -->
                                                    </div>
                                                    <div>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="https://www.iitg.ac.in/stud/gymkhana/technical/home/AeroHome.html" target="_ ">
                                                            <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                        </a>
                                                    </div>
                                                </footer>
                                
                                            </article>
                                            <!-- card1 ends -->
    
                                      <!-- club1 -->
                                      <article class="panel-4 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                        <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                            <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                              Automobile Club
                                            </div>
                                            <div class=" ">
                                                <a href="">
                                                    <img src="" alt="" class="">
                                                </a>
                                            </div>
                                        </header>              
                                        <a href="#">
                                            <img alt="Placeholder" class=" p-3 " style=" position: static;
                                            max-width: 480px;
                                            max-height: 260px;
                                            margin-left: auto;
                                            margin-right: auto;
                                            display: block" src="/tech/images/peop_img/automob.png">
                                        </a>
                        
                                        <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                          The Automobile Club of IIT Guwahati comprises of young, hardworking individuals with a shared passion for automobiles. Our love for the latest technologies and innovations in the realm of automobiles drives us to design and fabricate vehicles of our own. We take part in various national competitions like Formula Bharat, SUPRA SAE, SAE NIS EffiCycle.  
    
                                        </div>
                        
                                        <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                            <div class="flex flex-row">
                                                <a class="flex items-center no-underline hover:underline px-1" href="https://in.linkedin.com/company/iitgracing
                                                " target="_ ">
                                                    <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                </a>
                                                <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/iitg.racing/
                                                " target="_ ">
                                                    <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                </a>
                                                <a class="flex items-center no-underline hover:underline pl-1" href="
                                                https://www.instagram.com/iitg.racing/?hl=en
                                                " target="_ ">
                                                    <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                </a>
                                            </div>
                                            <div>
                                                <a class="flex items-center no-underline hover:underline pl-1" href="http://www.iitg.ac.in/saeindia_iitg/AutomobileClub.html" target="_ ">
                                                    <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                </a>
                                            </div>
                                        </footer>
                        
                                    </article>
                                    <!-- card1 ends -->
    
                                    <!-- club1 -->
                                    <article class="panel-5 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                      <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                          <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                            Coding Club
                                          </div>
                                          <div class=" ">
                                              <a href="">
                                                  <img src="" alt="" class="">
                                              </a>
                                          </div>
                                      </header>              
                                      <a href="#">
                                          <img alt="Placeholder" class=" p-3 " style=" position: static;
                                          max-width: 480px;
                                          max-height: 260px;
                                          margin-left: auto;
                                          margin-right: auto;
                                          display: block" src="/tech/images/peop_img/coding.png">
                                      </a>
                      
                                      <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                        Being the coding club of a technical institution, we do pretty much everything and anything related to coding. Coding events, workshops, hackathons that is, 48 hours non stop coding, contests are just to name a few. We believe in coding our problems away.
    
                                      </div>
                      
                                      <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                          <div class="flex flex-row">
                                              <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/42706606/
    
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                              </a>
                                              <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/codingclubiitg
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                              </a>
                                              <a class="flex items-center no-underline hover:underline pl-1" href="
                                              https://www.instagram.com/codingclubiitg/
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                              </a>
                                          </div>
                                          <div>
                                              <a class="flex items-center no-underline hover:underline pl-1" href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                              </a>
                                          </div>
                                      </footer>
                      
                                  </article>
                                  <!-- card1 ends -->
    
    
    
                                              <!-- club1 -->
                                              <article class="panel-6 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                    <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                      Consulting and Analytics Club
                                                    </div>
                                                    <div class=" ">
                                                        <a href="">
                                                            <img src="" alt="" class="">
                                                        </a>
                                                    </div>
                                                </header>              
                                                <a href="#">
                                                    <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                    max-width: 480px;
                                                    max-height: 260px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    display: block" src="/tech/images/peop_img/cna.png">
                                                </a>
                                
                                                <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                  The Consulting and Analytics Club of IIT Guwahati is a student body   
                                                  aimed at helping students explore the world of management consulting and data science. It is a collective for like-minded individuals operating through a ‘knowledge-session’ approach. The club encourages application of knowledge thus gained by participating in competitions and by working on live projects. The club has also organised a multitude of international-level events in collaboration with various corporate partners. Club members have won laurels at events at national and international levels, having represented the institute in Business Case Studies, Data Analytics competitions and countless other case study events.
                                                </div>
                                
                                                <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                    <div class="flex flex-row">
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/caciitg/
              
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/caciitg
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://www.instagram.com/caciitg/
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="http://iitg.ac.in/sa/caciitg/course/
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                        </a>
                                                    </div>
                                                </footer>
                                
                                            </article>
                                            <!-- card1 ends -->
                                              <!-- club1 -->
                                              <article class="panel-7 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                    <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                      E-Cell
                                                    </div>
                                                    <div class=" ">
                                                        <a href="">
                                                            <img src="" alt="" class="">
                                                        </a>
                                                    </div>
                                                </header>              
                                                <a href="#">
                                                    <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                    max-width: 480px;
                                                    max-height: 260px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    display: block" src="/tech/images/peop_img/ecell.png">
                                                </a>
                                
                                                <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                  At E-Cell IIT Guwahati, we crave and explore the constantly evolving world of entrepreneurship and start-ups. We host various webinars, podcasts and book summaries, innovative games, brainstorming sessions, and competitions to spread the essence of entrepreneurship. We also host the most prominent annual entrepreneurial summit of the northeast, “UDGAM,” an event centered around entrepreneurship.
    
                                                </div>
                                
                                                <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                    <div class="flex flex-row">
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/ecell-iitg
              
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/ecell.iitg
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://www.instagram.com/ecell_iitg/
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://www.iitg.ac.in/sa/ecell
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                        </a>
                                                    </div>
                                                </footer>
                                
                                            </article>
                                            <!-- card1 ends -->
                                              <!-- club1 -->
                                              <article class="panel-8 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                    <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                      Electronics Club
                                                    </div>
                                                    <div class=" ">
                                                        <a href="">
                                                            <img src="" alt="" class="">
                                                        </a>
                                                    </div>
                                                </header>              
                                                <a href="#">
                                                    <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                    max-width: 480px;
                                                    max-height: 260px;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    display: block" src="/tech/images/peop_img/elec.png">
                                                </a>
                                
                                                <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                  The Electronics club aims to provide a platform to explore the world of electronics through hands-on experience. We strive to aid students in acquiring practical knowledge and taking part in innovative projects which help them contemplate, discuss, debate and tackle real-life challenges. Teamwork and bonding is what runs our club and helps us strive. 
                                                </div>
                                
                                                <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                    <div class="flex flex-row">
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/electronicsclubiitg
              
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/electronics.iitg
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://www.instagram.com/electronicsclubiitg/
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a class="flex items-center no-underline hover:underline pl-1" href="
                                                        https://electronicsclubiitg.wordpress.com/
                                                        " target="_ ">
                                                            <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                        </a>
                                                    </div>
                                                </footer>
                                
                                            </article>
                                            <!-- card1 ends -->
    
                                                      <!-- club1 -->
                                                      <article class="panel-9 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                        <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                            <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                              Equinox : Astronomy Club
                                                            </div>
                                                            <div class=" ">
                                                                <a href="">
                                                                    <img src="" alt="" class="">
                                                                </a>
                                                            </div>
                                                        </header>              
                                                        <a href="#">
                                                            <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                            max-width: 480px;
                                                            max-height: 260px;
                                                            margin-left: auto;
                                                            margin-right: auto;
                                                            display: block" src="/tech/images/peop_img/astro.png">
                                                        </a>
                                        
                                                        <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                          When the lights go off and the campus sleeps, the nocturnals of IIT Guwahati at Equinox spend their nights under the starlight. Peering through the night sky and learning the wonders of the universe is our favourite pastime. Partnering with a wonderful set of telescopes, we navigate through the skies. A lot happens under the roof too, as we host weekly discussions on the fundamentals of astronomy and astrophysics. Our club is the only pure science club in IIT Guwahati and many of our members are avid science and research enthusiasts.
    
                                                        </div>
                                        
                                                        <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                            <div class="flex flex-row">
                                                                <!-- <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/electronicsclubiitg
                      
                                                                " target="_ ">
                                                                    <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                                </a> -->
                                                                <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/equinox.iitg
                                                                " target="_ ">
                                                                    <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                                </a>
                                                                <!-- <a class="flex items-center no-underline hover:underline pl-1" href="
                                                                https://www.instagram.com/electronicsclubiitg/
                                                                " target="_ ">
                                                                    <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                                </a> -->
                                                            </div>
                                                            <div>
                                                                <a class="flex items-center no-underline hover:underline pl-1" href="
                                                                https://www.iitg.ac.in/stud/gymkhana/technical/home/EquinoxHome.html
                                                                " target="_ ">
                                                                    <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                                </a>
                                                            </div>
                                                        </footer>
                                        
                                                    </article>
                                                    <!-- card1 ends -->
    
                                    <!-- club1 -->
                                    <article class="panel-10 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                      <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                          <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                            Finance and Economics Club
                                          </div>
                                          <div class=" ">
                                              <a href="">
                                                  <img src="" alt="" class="">
                                              </a>
                                          </div>
                                      </header>              
                                      <a href="#">
                                          <img alt="Placeholder" class=" p-3 " style=" position: static;
                                          max-width: 480px;
                                          max-height: 260px;
                                          margin-left: auto;
                                          margin-right: auto;
                                          display: block" src="/tech/images/peop_img/fec.png">
                                      </a>
                      
                                      <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                        To begin with, we, at the Finance & Economics Club, share an equal zeal,
                                        love and passion for learning the various aspects of the fascinating and extensive world of economics and finance. From the popular stock market trading to the complicated mathematics of risk management, from the debates on economic ideologies to the synergies of tech giants joining hands, we explore everything, we study everything. With every passing year, we not only try to inculcate more horizons but deliberately work towards bettering this community. FEC is a relatively new club which definitely becomes evident from the way we function. At FEC, we have each member contributing in their own unique ways, everyone feels a sense of responsibility because everyone here has that one idea they believe would take the club to greater heights. 
                                        
    
                                      </div>
                      
                                      <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                          <div class="flex flex-row">
                                              <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/finance-and-economics-club-iitg
    
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                              </a>
                                              <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/financeclubiitg
    
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                              </a>
                                              <a class="flex items-center no-underline hover:underline pl-1" href="
                                              https://www.instagram.com/fec_iitg/
    
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                              </a>
                                          </div>
                                          <div>
                                              <a class="flex items-center no-underline hover:underline pl-1" href="
                                              
    https://www.iitg.ac.in/stud/gymkhana/technical/home/FnEHome.html
                                              " target="_ ">
                                                  <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                              </a>
                                          </div>
                                      </footer>
                      
                                  </article>
                                  <!-- card1 ends -->
    
                            <!-- club1 -->
                            <article class="panel-11 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                              <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                  <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                    IITG.ai
                                  </div>
                                  <div class=" ">
                                      <a href="">
                                          <img src="" alt="" class="">
                                      </a>
                                  </div>
                              </header>              
                              <a href="#">
                                  <img alt="Placeholder" class=" p-3 " style=" position: static;
                                  max-width: 480px;
                                  max-height: 260px;
                                  margin-left: auto;
                                  margin-right: auto;
                                  display: block" src="/tech/images/peop_img/aiclub.png">
                              </a>
              
                              <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                IITG.ai is a platform for the AI community of IITG to discuss, learn and collaborate on advancements in the field of AI. Within a short span, we grew from just 4 members to nearly 50 and we only look forward from here. We create a culture of contribution to the dynamic, fast-changing world of AI research.
    
                              </div>
              
                              <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                  <div class="flex flex-row">
                                      <a class="flex items-center no-underline hover:underline px-1" href="https://linkedin.com/company/iitg-ai
    
                                      " target="_ ">
                                          <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                      </a>
                                      <a class="flex items-center no-underline hover:underline px-1" href="https://www.facebook.com/iitgai/
    
    
                                      " target="_ ">
                                          <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                      </a>
                                      <a class="flex items-center no-underline hover:underline pl-1" href="
                                      https://www.instagram.com/iitg.ai
    
                                      " target="_ ">
                                          <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                      </a>
                                  </div>
                                  <div>
                                      <a class="flex items-center no-underline hover:underline pl-1" href="
                
                                      http://iitg.ac.in/sa/ai/
                                      " target="_ ">
                                          <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                      </a>
                                  </div>
                              </footer>
              
                          </article>
                          <!-- card1 ends -->
    
                                                  <!-- club1 -->
                                                  <article class="panel-12 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                                    <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                        <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                          Robotics Club
                                                        </div>
                                                        <div class=" ">
                                                            <a href="">
                                                                <img src="" alt="" class="">
                                                            </a>
                                                        </div>
                                                    </header>              
                                                    <a href="#">
                                                        <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                        max-width: 480px;
                                                        max-height: 260px;
                                                        margin-left: auto;
                                                        margin-right: auto;
                                                        display: block" src="/tech/images/peop_img/robo.png">
                                                    </a>
                                    
                                                    <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                      We are a group of tech enthusiasts who believe in a bigger vision of knowledge through exposure.  From small utilities to fully-fledged multifunctional bots, we have potential to pull it off right from scratch. The only prerequisite to join us is a mind ready to grab all we have to offer and a dedication to build the unimaginable.
    
    
    
                                                    </div>
                                    
                                                    <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                        <div class="flex flex-row">
                                                            <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/robotics-club-iitg
    
                          
                                                            " target="_ ">
                                                                <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                            </a>
                                                            <a class="flex items-center no-underline hover:underline px-1" href="
                                                            https://www.facebook.com/robotics.iitg/
                
                                                            " target="_ ">
                                                                <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                            </a>
                                                            <a class="flex items-center no-underline hover:underline pl-1" href="
                                                            https://www.instagram.com/roboclubiitg/
                          
                                                            " target="_ ">
                                                                <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a class="flex items-center no-underline hover:underline pl-1" href="
                                                            https://www.iitg.ac.in/sa/roboclub/
                                                            " target="_ ">
                                                                <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                            </a>
                                                        </div>
                                                    </footer>
                                    
                                                </article>
                                                <!-- card1 ends -->
    
    
                                          <!-- club1 -->
                                          <article class="panel-13 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                            <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                  White Space
                                                </div>
                                                <div class=" ">
                                                    <a href="">
                                                        <img src="" alt="" class="">
                                                    </a>
                                                </div>
                                            </header>              
                                            <a href="#">
                                                <img alt="Placeholder" class=" p-3 " style=" position: static;
                                                max-width: 480px;
                                                max-height: 260px;
                                                margin-left: auto;
                                                margin-right: auto;
                                                display: block" src="/tech/images/peop_img/whitespace.png">
                                            </a>
                            
                                            <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                              White Space Design club offers a place for the students of IIT 
                                              Guwahati to explore their interests in design. The main focus of the club is on exploring fields of design, conducting workshops for students, setting up design competitions and providing members real life experiences through projects. It is a place where people from various fields can come together to collaborate on a project of their choosing.
                                              
    
                                            </div>
                            
                                            <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                <div class="flex flex-row">
                                                    <a class="flex items-center no-underline hover:underline px-1" href="https://www.linkedin.com/company/white-space-design-society
    
    
                  
                                                    " target="_ ">
                                                        <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                    <a class="flex items-center no-underline hover:underline px-1" href="
                                                    https://www.facebook.com/whitespacedesignclub
    
        
                                                    " target="_ ">
                                                        <img src="/tech/images/peop_img/fblogo.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                    <a class="flex items-center no-underline hover:underline pl-1" href="
                                                    https://www.instagram.com/roboclubiitg/
                  
                                                    " target="_ ">
                                                        <img src="/tech/images/peop_img/instalogo.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                </div>
                                                <div>
                                                    <a class="flex items-center no-underline hover:underline pl-1" href="
                                                    https://www.instagram.com/white.space_design/
    
                                                    " target="_ ">
                                                        <img src="" alt="" class="">
                                                    </a>
                                                </div>
                                            </footer>
                            
                                        </article>
                                        <!-- card1 ends -->
    
    
      
                                                          
      
                        </div>
                        <!-- all cards end here -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>