<section id="event" class="navtabcontent">
   <!-- kriti section -->
    <div id="kriti" class=" dark:bg-txt-8"  >
        <div class="px-16 md:pt-4 md:p-0 grid grid-cols-8   ">
            <!-- sidenav -->
            <div class='md:pt-32 lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                <a href="#kriti" class="block py-2  text-txt-1 dark:text-txt-2 text-xsmall">
                    Kriti
                </a>
                <a href="#techniche" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall ">
                    Techniche
                </a>
                <a href="#udgam" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                    Udgam
                </a>
                <a href="#techevince" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                    Techevince
                </a>
                </div>
            </div>

            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8 pt-10 pb-10 md:pt-32 md:pb-0 px-5 md:px-10'>

                <div class="flex flex-row ">
                    <div class="md:max-w-1/2 -mr-12 md:-mr-0">
                        <div class=" text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                            Kriti 
                        </div>
                        <div class="my-6 text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                            12 hostels. 7 days. 1 title! 
                        </div>
                        <div class="text-txt-1 dark:text-txt-2 text-sm md:text-base lg:text-lg font-medium    text-left ">
                            Drenched in age-old rivalry, fierce competitiveness, & blazing passion, Kriti is one of the calendar year's most enthralling events.  
                            Kriti has been massively successful in bringing the unexposed into tech and has served as a great launching pad for brewing innovation 
                            among the IITG fraternity's newest members- the freshers. Over a month, Kriti puts hostellers through a conflux of challenging competitions 
                            ranging from gaming to marketing strategy, and it's hard to find an event more successful in uniting people. 
                        </div>
                    </div>
                    <div class="max-h-0 md:max-h-full invisible md:visible py-16">
                        <img src="/tech/images/peop_img/kriti.svg" alt="">

                    </div>
                </div>
                <div class="pt-8">
                    <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                        Glimpses of Kriti
                    </div>
                    <section class="invisible md:visible max-h-0 md:max-h-full mt-8  mx-auto">
                        <div class="flex flex-wrap ">
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        </div>
                    </section>

                    <div class="visible md:invisible md:max-w-0 md:max-h-0">
                        <div class="galwrapper">
                            <div class="item">
                            <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                        </div>
                        </div>
                </div>
                
        </div>
    </div>

    <!-- techniche section -->
    <div id="techniche" class="" >
        <div class=" px-16 py-4 md:px-0 md:py-0 grid grid-cols-8   " >
            <!-- sidenav -->
            
            <div class=' lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                    <a href="#kriti" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50  text-xsmall">
                        Kriti
                    </a>
                    <a href="#techniche" class="block py-2  text-txt-1 dark:text-txt-2 text-xsmall ">
                        Techniche
                    </a>
                    <a href="#udgam" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Udgam
                    </a>
                    <a href="#techevince" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Techevince
                    </a>
                </div>
            </div>

            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8   px-5 md:px-10  '>

                
                    
                    
                <div class="flex flex-row ">
                    <div class="md:max-w-1/2 -mr-12 md:-mr-0">
                        <div class="flex flex-row items-center">
                            <div>
                                <img src="/tech/images/peop_img/techniche.svg" alt="">
                            </div>
                            <div class="ml-4">
                                <div class=" text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                                    Techniche
                                </div>
                                <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                                    India’s First Virtual
                                </div>
                                <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                                    Techno-Management Fest
                                </div>
                            </div>
                        </div>
                        <div class="mt-12 text-txt-1 dark:text-txt-2 text-sm md:text-base lg:text-lg font-medium   md:mr-6 text-left ">
                            Techniche at IIT Guwahati is an emotion in itself, made of sleepless nights and unforgettable memories. A 
                            forum where learning meets fun, Techniche provides the perfect environment to nurture inquisitiveness within 
                            the youth. Packed with numerous events, competitions, workshops, and initiatives, we boast of having something 
                            to pique everyone's interest. Techniche 2020 was no exception, wherein we built India's first virtual Techno- Management 
                            fest from the ground up, faced with the unforeseen situation of the pandemic, courtesy of the relentless efforts of the team.

                        </div>
                        <div class="flex items-center justify-between mt-8 md:mt-16  md:mr-16">
                            <div class="text-txt-1 dark:text-txt-2 text-xs md:text-sm ">
                                <img src="/tech/images/peop_img/fblogo.svg" class="inline-block -mt-1 invisible md:visible"> Facebook
                            </div>
                            <div class="text-txt-1 dark:text-txt-2 text-xs md:text-sm">
                                <img src="/tech/images/peop_img/instalogo.svg" class="inline-block -mt-1 invisible md:visible"> Instagram
                            </div>
                            <div class="text-txt-1 dark:text-txt-2 text-xs md:text-sm">
                                <img src="/tech/images/peop_img/ytlogo.svg" class="inline-block -mt-1 invisible md:visible"> Youtube
                            </div>
                            <div class="text-txt-1 dark:text-txt-2 text-xs md:text-sm">
                                <img src="/tech/images/peop_img/weblogo.svg" class="inline-block -mt-1 invisible md:visible"> Website
                            </div>

                        </div>
                    </div>
                    <div class="max-h-0 md:max-h-full invisible md:visible py-12">
                        <img src="/tech/images/peop_img/technicheevs.svg" alt="">

                    </div>
                </div>

                <div class="visible md:invisible md:max-w-0 md:max-h-0 my-7 md:my-0">
                    <div class="galwrapper">
                        <div class="item">
                        <img src="/tech/images/peop_img/tevents.svg" alt="" />
                        </div>


                    </div>
                </div>
        </div>
    </div>

    <!-- udgam section -->
    <div id="udgam" class="" >
        <div class=" px-16  md:px-0 md:py-0 grid grid-cols-8   " >
            <!-- sidenav -->
            
            <div class=' lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                    <a href="#kriti" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Kriti
                    </a>
                    <a href="#techniche" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall ">
                        Techniche
                    </a>
                    <a href="#udgam" class="block py-2  text-txt-1 dark:text-txt-2  text-xsmall">
                        Udgam
                    </a>
                    <a href="#techevince" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Techevince
                    </a>
                </div>
            </div>

            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8 pt-10 pb-10 md:pt-0 md:pb-0 px-5 md:px-10  '>

                
                    
                    
                <div class="flex flex-row ">
                    <div class="md:max-w-1/2 -mr-12 md:-mr-0">
                        <div class="flex flex-row items-center">
                            <div>
                                <img src="/tech/images/peop_img/udgam logo.svg" alt="">
                            </div>
                            <div class="ml-4">
                                <div class=" text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                                    Udgam
                                </div>
                                <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                                    The Annual
                                </div>
                                <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                                    Entrepreneurship Summit
                                </div>
                            </div>
                        </div>
                        <div class="mt-12 text-txt-1 dark:text-txt-2 text-sm md:text-base lg:text-lg font-medium   md:mr-6 text-left ">
                            Udgam IIT Guwahati is held to bring together the academic community, new-age entrepreneurs, 
                            industry leaders, and investors on a common platform. This flagship event of E-Cell, IIT Guwahati 
                            was conceptualised to develop and spread the spirit of entrepreneurship among the youth of the 
                            North-East, and India in general thus earning itself the reputation of being the largest
                            E-Summit in the north-east. To foster an environment that is conducive to entrepreneurship, 
                            we at Udgam organize lectures, events and workshops to create a platform for young minds to 
                            realize their potential and showcase their bright ideas in front of the public and industry.
                        </div>
                        <div class="flex items-center justify-between mt-8 md:mt-12  md:mr-16">
                            <div class="text-txt-1  text-xs md:text-sm ">
                                <img src="/tech/images/peop_img/fblogo.svg" class="inline-block -mt-1 invisible md:visible"> Facebook
                            </div>
                            <div class="text-txt-1  text-xs md:text-sm">
                                <img src="/tech/images/peop_img/instalogo.svg" class="inline-block -mt-1 invisible md:visible"> Instagram
                            </div>
                            <div class="text-txt-1  text-xs md:text-sm">
                                <img src="/tech/images/peop_img/ytlogo.svg" class="inline-block -mt-1 invisible md:visible"> Youtube
                            </div>
                            <div class="text-txt-1  text-xs md:text-sm">
                                <img src="/tech/images/peop_img/weblogo.svg" class="inline-block -mt-1 invisible md:visible"> Website
                            </div>

                        </div>
                    </div>
                    <div class="max-h-0 md:max-h-full invisible md:visible pt-32">
                        <img src="/tech/images/peop_img/udgamevs.svg" alt="" class="mt-10">

                    </div>
                </div>
                <div class="visible md:invisible md:max-w-0 md:max-h-0 my-7 md:my-0">
                    <div class="galwrapper">
                        <div class="item">
                        <img src="/tech/images/peop_img/uevents.svg" alt="" />
                        </div>
                    </div>
                </div>
        
        </div>
    </div>

    <!-- techevince section -->
    <div id="techevince" class=" dark:bg-txt-8"  >
        <div class="px-16  md:p-0 grid grid-cols-8   ">
            <!-- sidenav -->
            <div class=' lg:ml-12 invisible md:visible max-h-0 md:max-h-560'>
                <div class="md:border-r-2 md:border-txt-3 md:border-opacity-50">
                    <a href="#kriti" class="block py-2  text-txt-1 dark:text-txt-2  opacity-50 text-xsmall">
                        Kriti
                    </a>
                    <a href="#techniche" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall ">
                        Techniche
                    </a>
                    <a href="#udgam" class="block py-2  text-txt-1 dark:text-txt-2 opacity-50 text-xsmall">
                        Udgam
                    </a>
                    <a href="#techevince" class="block py-2  text-txt-1 dark:text-txt-2 text-xsmall">
                        Techevince
                    </a>
                </div>
            </div>

            <div class='col-start-1 col-span-9 md:col-start-2 md:col-span-8  pt-10 pb-10 md:pt-0 md:pb-0 px-5 md:px-10'>

                <div class="">
                    <div class=" text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                        Techevince 
                    </div>
                    <div class="my-6 text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                        The Annual Inter-Club Competition 
                    </div>
                    <div class="text-txt-1 dark:text-txt-2 text-sm md:text-base lg:text-lg font-medium    text-left ">
                        Drenched in age-old rivalry, fierce competitiveness, & blazing passion, Kriti is one of the calendar year's most enthralling events.  
                        Kriti has been massively successful in bringing the unexposed into tech and has served as a great launching pad for brewing innovation 
                        among the IITG fraternity's newest members- the freshers. Over a month, Kriti puts hostellers through a conflux of challenging competitions 
                        ranging from gaming to marketing strategy, and it's hard to find an event more successful in uniting people. 
                    </div>
                </div>

                <div class="py-8">
                    <div class=" text-norm md:text-xl lg:text-2xl text-txt-3 dark:text-txt-2 font-body1 font-semibold" >
                        Glimpses of Techevince
                    </div>
                    <section class="invisible md:visible max-h-0 md:max-h-full mt-8  mx-auto">
                        <div class="flex flex-wrap ">
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                            <div class="md:w-1/3 px-4 mb-8"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                        </div>
                    </section>
                    <div class="visible md:invisible md:max-w-0 md:max-h-0">
                        <div class="galwrapper">
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                            </div>
                            <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                                </div>
                                <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                                </div>
                                <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                                </div>
                                <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                                </div>
                                <div class="item">
                                <img src="/tech/images/peop_img/samplegall.png" alt="" />
                                </div>
                            </div>
                        </div>
                </div>
                
            </div>
    </div>

</section>