<div class="text-center md:text-left flex flex-wrap justify-center bg-txt-1 dark:bg-txt-6 dark:bg-opacity-90  px-0 md:px-32 py-12" style="  background-image: url('images/footer_back.svg'); background-repeat: no-repeat;
background-position: right; ">
  <div class="flex flex-wrap mb-4 w-full">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 pb-6 md:pb-0">
      <div class="text-txt-2 text-xsmall my-3 font-body1"><img src="/tech/images/iitguwlogo.svg" class="inline-block ">  IIT Guwahati</div>
      <div class="text-txt-2 text-xsmall my-3 font-body1"><img src="/tech/images/technicalboard.svg" class="inline-block ">  Technical Board</div>
      
      <div class="text-txt-5 text-xsmall  my-3"> Promoting Technology ,Creativity<br> And Innovation</div>
      <div class="mx-20 md:mx-0  text-txt-2 text-xsmall my-3 flex flex-row justify-center md:justify-start gap-x-1">
          <a href="#">
              <img src="images/insta.svg" class="px-1" alt="" />
          </a>
          <a href="#">
              <img src="images/dribble.svg" class="px-1" alt="" />
          </a>
          <a href="#">
              <img src="images/twitter.svg" class="px-1" alt="" />
          </a>
          <a href="#">
              <img src="images/yt.svg" class="px-1" alt="" />
          </a>
      </div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 pb-6 md:pb-0">
      <div class="my-2 text-txt-2 text-normbig font-body1">Quick Links</div>
              
      <div class="my-3"><a onclick="openPage('event')" style="cursor: pointer;" class="text-txt-5 text-small font-body2">Events</a><br></div>

      <div class="my-3"><a onclick="openPage('team')" style="cursor: pointer;" class="text-txt-5 text-small my-3 font-body2">Techboard Team</a></div>
      
      <div class="my-3"><a onclick="openPage('team')" style="cursor: pointer;" class="text-txt-5 text-small my-3 font-body2">Our Alumni</a></div>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-24 md:px-0 pb-6 md:pb-0">
      <div class="my-2 text-txt-2 text-normbig font-body1">Clubs</div>
              
      <a onclick="openPage('club')" style="cursor: pointer;" class="text-txt-5 text-small my-3 font-body2">View All</a>
    
      <div class="my-2 text-txt-2 text-normbig font-body1">.Link Magazine</div>
      
      <a href="https://cutt.ly/dotlinkmag" target="_ " class="text-txt-5 text-small my-3 font-body2">View .Link Magazine</a>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 pb-6 md:pb-0">
      <div class="my-2 text-txt-2 text-normbig font-body1">Reach us</div>

      <div class="text-txt-5 text-small my-3 font-body2"><img src="images/email-icon.svg" class="inline-block ">  techsec@iitg.ac.in</div>

      <div class="text-txt-5 text-small my-3 font-body2"><img src="images/phone-icon.svg" class="inline-block">  +91-7587817679</div>

      <div class="text-txt-5 text-small my-3 font-body2"><img src="images/location-icon.svg" class="inline-block">  Students' Gymkhana Council,
        New SAC Building
        IIT Guwahati, Guwahati (Assam) - 781039</div>
    </div>
  </div>
</div>
<div class="flex justify-center items-center bg-txt-4 dark:bg-txt-6 h-16 md:h-12 px-3">
  <div class="text-txt-2  text-small font-body2">| © 2021 Technical Board IIT, Guwahati. All rights reserved | Designed, Developed and Maintained by Technical Board of IIT, Guwahati |</div>
</div>