<div class=" flex justify-center items-center bg-white h-12  dark:bg-txt-6 shadow-nav">
    <div class="px-2"><img src="/tech/images/iitglogo.svg" ></div>
    <div class="text-txt-1 text-small font-body2 dark:text-txt-2">INDIAN INSTITUTE OF TECHNOLOGY, GUWAHATI </div>
    <button id="switchTheme" class="h-10 w-10 flex justify-center items-center focus:outline-none text-txt-1 dark:text-txt-2">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 
            4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 
            11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 
            1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 
            01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path>
        </svg>
    </button>
</div>

<!-- darkmode stuff -->
<script>
    document.getElementById('switchTheme').addEventListener('click', function() {
        let htmlClasses = document.querySelector('html').classList;
        if(localStorage.theme == 'dark') {
            htmlClasses.remove('dark');
            localStorage.removeItem('theme')
        } else {
            htmlClasses.add('dark');
            localStorage.theme = 'dark';
        }
    });
</script>

 <!-- top navbar with sa,tb -->
<!-- <div class="relative flex flex-row items-center shadow-nav h-20 dark:bg-txt-6">
    
        <div class="my-2 px-4">
            <a href="#" class="text-txt-1 dark:text-txt-3 p-4 text-medsmall font-body2">STUDENTS AFFAIRS BOARD</a>
        </div>
        <div class=" bg-txt-1 dark:bg-txt-3 h-20 w-101 flex justify-around items-center">
            <a href="#" class="text-txt-2 dark:text-txt-6 p-4  text-medsmall font-body2">TECHNICAL BOARD <img src="/tech/images/downarrow.svg" class="inline-block"></a>
        </div>

        <div class="bg-txt-1 dark:bg-txt-3 absolute right-0 flex space " >
            <a href="#" class="items-center px-4 my-6"><img src="/tech/images/search.svg"></a>
            
            <a href="#" class="items-center my-6 mx-3"><img src="/tech/images/reorder.svg"></a>
        </div>
 </div> -->

         <!-- landing element -->
         <div class=" bg-txt-2 flex justify-start content-center px-8 bg-land-trial dark:bg-land-trial-dark ">
            <div class="content-center py-24 md:py-40 lg:py-56 ">
                <div class="text-txt-1 text-xl md:text-4xl font-bold font-body2 dark:text-txt-2">
                    Promoting
                </div> 
                <div class="text-txt-1 text-3xl md:text-7xl font-bold font-body1 dark:text-txt-2">
                    Technology <br>Creativity<span class="text-txt-3 text-medbig font-body2">&amp;
                        <br>
                    </span> Innovation
                </div> 
            </div>
    
        </div>

<!-- primary nav bar -->
<div id="navbar" class="z-10  bg-txt-2 flex flex-row items-center justify-evenly md:justify-start 
    shadow-nav h-16 text-txt-1 font-body2 text-medsmall px-2 md:px-8  dark:text-txt-2 dark:bg-txt-6">
    <ul>
        <li class="navtab opacity-50 px-3 mx-2 md:px-6 md:mx-4 tabstyle">
            <a onclick="openPage('home')" id="defaultOpen" style="cursor: pointer;">Home</a>
        </li>
        <li class="navtab opacity-50 px-3 md:px-6">
            <a onclick="openPage('club')" style="cursor: pointer;">Clubs</a>
        </li>
        <li class="navtab opacity-50 px-3 md:px-6">
            <a onclick="openPage('event')" style="cursor: pointer;">Events</a>
        </li>
        <li class="navtab opacity-50 px-3 md:px-6">
            <a onclick="openPage('team')" style="cursor: pointer;">Team & Alumni</a>
        </li>
    </ul>
</div>